.e404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.e404> * {
    color: white;
}

.error-404-title {
    font-size: 8rem;
    line-height: 1.1;
}

.error-404-subtitle {
    font-size: 1.2rem;
    display: block;
    font-weight: 400;
}