.index {
    min-height: 100%;
}

.welcome {
    background-color: white;
    height: 60vw;
    max-height: 75vh;
    display: flex;
    padding: 0 40px;
}

.welcomeText {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcomeTitle {
    font-size: clamp(1.5rem, 5.3vw, 10rem);
    color: var(--secundary);
    margin-bottom: 10px;
    font-weight: 600;
}

.welcomeText > p {
    color: var(--secundary);
    font-size: clamp(1rem, 1.8vw, 2rem);
    font-weight: 400;
}

.welcomeImg {
    flex: 1;
    background-image: url("../../public/images/tickets.png");
    background-position: center center;
    background-size: cover;
}

.aboutUs {
    height: clamp(25vh, 47vw, 75vh);
    background-color: var(--secundary);
    display: flex;
    padding: 0 40px;
    column-gap: 40px;
}

.aboutUsImg {
    flex: 1;
    background-image: url("../../public/images/team.png");
    background-position: center center;
    background-size: cover;
}

.aboutUsText {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutUsText > * {
    color: white;
}

.aboutUsText > h2 {
    font-size: clamp(1.5rem, 6vw, 4rem);
    margin-bottom: 20px;
}

.aboutUsText > p {
    font-weight: 300;
    max-width: 750px;
}

.contactUs {
    height: clamp(25vh, 47vw, 75vh);
    background-color: white;
    display: flex;
    padding: 0 40px;
    column-gap: 40px;
}

.contactUsText {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactUsTitle {
    font-size: clamp(1.5rem, 6vw, 4rem);
    margin-bottom: 20px;
}

.contactUsText > a {
    background-color: var(--acent);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
}

.contactUsImg {
    flex: 1;
    background-image: url("../../public/images/contact.png");
    background-position: center center;
    background-size: cover;
}

@media (max-width: 600px) {
    .welcome {
        flex-direction: column;
        padding: 20px 40px;
        row-gap: 20px;
        height: auto;
    }

    .welcomeText {
        width: 100%;
    }

    .welcomeText > * {
        text-align: center;
    }

    .welcomeImg {
        flex: none;
        height: 46vh;
        width: 100%;
    }

    .aboutUs, .contactUs {
        flex-direction: column;
        height: auto;
        padding: 20px 40px;
    }

    .aboutUs > *, .contactUs > * {
        width: 100%;
    }

    .aboutUsImg, .contactUsImg {
        flex: none;
        height: 40vh;
        width: 100%;
    }

    .aboutUsText, .contactUsText {
        margin: 40px 0;
    }

    .aboutUsText > h2, .contactUsTitle {
        font-size: 8vw;
    }
}