<<<<<<< HEAD:client/src/css/login.css
.login-main-container {
=======
.login {
>>>>>>> refs/remotes/origin/main:client/src/css/login.module.css
    height: 100%;
    background-color: var(--secundary);
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD:client/src/css/login.css
.login-panel {
    width: clamp(300px, 25vw, 375px);
    background-color: var(--primary);
    padding: clamp(20px, 8vh, 70px) 20px;
    border-radius: 7px;
=======
.loginPanel {
    width: clamp(300px, 35vw, 400px);
    background-color: var(--primary);
    padding: clamp(20px, 7vh, 70px) 20px;
>>>>>>> refs/remotes/origin/main:client/src/css/login.module.css
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    row-gap: clamp(20px, 6vh, 50px);
    margin: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginHeader {
    color: var(--text);
    text-align: center;
}

.loginHeader > .headerTitle {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2px;
}

.loginHeader > .headerSubtitle {
    color: var(--text-light);
}

.loginHeader > *, form > * {
    display: block;
}

<<<<<<< HEAD:client/src/css/login.css
.login-panel > form > input {
=======
form > input {
>>>>>>> refs/remotes/origin/main:client/src/css/login.module.css
    width: 100%;
    padding: 7px;
    outline: none;
}

<<<<<<< HEAD:client/src/css/login.css
.login-panel > form > input[type="text"], form > input[type="password"] {
=======
form > input[type="email"], form > input[type="password"] {
>>>>>>> refs/remotes/origin/main:client/src/css/login.module.css
    margin-bottom: 20px;
    border: 1px solid lightgray;
    font-size: 0.9rem;
}

<<<<<<< HEAD:client/src/css/login.css
.login-panel > form > input[type="text"]:focus, form > input[type="password"]:focus {
=======
form > input[type="email"]:focus, form > input[type="password"]:focus {
>>>>>>> refs/remotes/origin/main:client/src/css/login.module.css
    border-color: var(--acent);
}

.login-panel > form > label {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.login-panel > form > a {
    display: none;
    margin-bottom: 20px;
    font-size: 0.9rem;
    float: right;
    color: var(--acent);
}

.login-panel > form > a:hover {
    text-decoration: underline;
}

.login-panel > form > input[type="submit"] {
    color: white;
    background-color: var(--acent);
    border: none;
    cursor: pointer;
}

@media (max-width: 500px) {
<<<<<<< HEAD:client/src/css/login.css
    .login-panel {
=======
    .loginPanel {
>>>>>>> refs/remotes/origin/main:client/src/css/login.module.css
        border: none;
        box-shadow: none;
        height: 100%;
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
<<<<<<< HEAD:client/src/css/login.css

    .login-panel > form {
        width: 100%;
    }

    .login-panel > form > input {
        width: 100%;
    }
=======
>>>>>>> refs/remotes/origin/main:client/src/css/login.module.css
}