.login {
    height: 100%;
    background-color: var(--secundary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPanel {
    width: clamp(300px, 35vw, 400px);
    background-color: var(--primary);
    padding: clamp(20px, 7vh, 70px) 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    row-gap: clamp(20px, 5vh, 50px);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 10px;
    border-radius: 3px;
}

.loginHeader {
    color: var(--text);
    text-align: center;
}

.loginHeader > .headerTitle {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2px;
}

.loginHeader > .headerSubtitle {
    color: var(--text-light);
}

.loginHeader > *, form > * {
    display: block;
}

form > input {
    width: 100%;
    padding: 7px;
    outline: none;
}

form > input[type="email"], form > input[type="password"] {
    margin-bottom: 20px;
    border: 1px solid lightgray;
    font-size: 0.9rem;
}

form > input[type="email"]:focus, form > input[type="password"]:focus {
    border-color: var(--acent);
}

form label {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

form a {
    display: none;
    margin-bottom: 20px;
    font-size: 0.9rem;
    float: right;
    color: var(--acent);
}

form > a:hover {
    text-decoration: underline;
}

form > input[type="submit"] {
    color: white;
    background-color: var(--acent);
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
}

@media (max-width: 500px) {
    .loginPanel {
        border: none;
        box-shadow: none;
        height: 100%;
        width: 100%;
        border-radius: 0;
        justify-content: center;
        margin: 0;
    }
}