* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

*:root {
    --primary: white;
    --text: black;
    --text-light: dimgray;
    --secundary: rgb(65,59,141);
    --acent: rgb(89, 165, 252);
}

body {
    height: 100vh;
    min-height: 100vh;
}

#root {
    display: flex;
    height: 100%;
    background-color: var(--secundary);
    flex-direction: column;
}

nav {
    padding: 15px;
    background: var(--acent);
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

nav > ul > li {
    display: inline-block;
    padding: 0 20px;
}

nav > ul > li > a {
    color: white;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

/* 404 Styles */

.error-404-title {
    font-size: 7rem;
}

.error-404-subtitle {
    font-size: 1.2rem;
}